In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
employees_data = [
    (1, "Rahul", "Sharma", "1988-05-12", "IT", 75000.00, "2015-06-10", "rahul.sharma@company.com", "9876543210"),
    (2, "Ananya", "Iyer", "1990-11-23", "Finance", 65000.00, "2017-04-22", "ananya.iyer@company.com", "9123456789"),
    (3, "Vikram", "Singh", "1985-03-15", "HR", 58000.00, "2018-01-05", "vikram.singh@company.com", "9988776655"),
    (4, "Priya", "Mehta", "1992-07-09", "Marketing", 72000.00, "2019-07-18", "priya.mehta@company.com", "9765432109"),
    (5, "Rohit", "Verma", "1987-12-30", "Operations", 69000.00, "2016-10-12", "rohit.verma@company.com", "9098765432"),
    (6, "Sneha", "Nair", "1991-02-18", "Sales", 60000.00, "2020-02-20", "sneha.nair@company.com", "9345678901"),
    (7, "Amit", "Patel", "1984-08-03", "IT", 85000.00, "2014-03-14", "amit.patel@company.com", "9012345678"),
    (8, "Neha", "Kapoor", "1993-01-25", "Finance", 56000.00, "2021-09-09", "neha.kapoor@company.com", "9871203456"),
    (9, "Karan", "Malhotra", "1989-09-10", "Marketing", 70000.00, "2018-06-11", "karan.malhotra@company.com", "9988012345"),
    (10, "Divya", "Reddy", "1994-04-05", "HR", 55000.00, "2022-01-17", "divya.reddy@company.com", "9123009876"),
    (11, "Arjun", "Joshi", "1986-07-20", "IT", 90000.00, "2013-08-25", "arjun.joshi@company.com", "9801234567"),
    (12, "Meera", "Desai", "1991-12-12", "Finance", 67000.00, "2017-11-19", "meera.desai@company.com", "9321456789"),
    (13, "Suresh", "Pillai", "1983-10-08", "Operations", 78000.00, "2012-05-29", "suresh.pillai@company.com", "9765432190"),
    (14, "Ritika", "Gupta", "1995-03-27", "Sales", 52000.00, "2023-03-15", "ritika.gupta@company.com", "9887766554"),
    (15, "Manoj", "Chopra", "1987-09-14", "IT", 81000.00, "2016-12-01", "manoj.chopra@company.com", "9234567810"),
    (16, "Pooja", "Rastogi", "1990-05-21", "Finance", 63000.00, "2019-04-04", "pooja.rastogi@company.com", "9345671234"),
    (17, "Deepak", "Bansal", "1984-11-11", "Marketing", 72000.00, "2015-09-10", "deepak.bansal@company.com", "9011223344"),
    (18, "Shalini", "Roy", "1992-06-16", "HR", 57000.00, "2020-08-12", "shalini.roy@company.com", "9776655443"),
    (19, "Nikhil", "Agarwal", "1988-01-30", "Operations", 74000.00, "2017-01-29", "nikhil.agarwal@company.com", "9456789012"),
    (20, "Kavya", "Menon", "1993-08-08", "Sales", 61000.00, "2021-06-06", "kavya.menon@company.com", "9988772211"),
    (21, "Gopi", "Nath", "1993-08-08", "IT", 161000.00, "2025-06-21", "gopi.nath@company.com", "9988772345"),
]

In [0]:
_schema = StructType([
    StructField("emp_id", IntegerType(), False),
    StructField("first_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("dob", StringType(), True),
    StructField("department", StringType(), True),
    StructField("salary", DoubleType(), True),
    StructField("joining_date", StringType(), True),
    StructField("email", StringType(), True),
    StructField("phone_number", StringType(), True)
])

In [0]:
employee = spark.createDataFrame(employees_data,_schema)

In [0]:
employee.printSchema()

root
 |-- emp_id: integer (nullable = false)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- joining_date: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)

In [0]:
#casting the string columns to date
employee = employee.withColumn("dob", to_date(col("dob"))).withColumn("joining_date", to_date(col("dob")))

###  *1. Date transformation*

In [0]:
employee.columns

Out[11]: ['emp_id',
 'first_name',
 'last_name',
 'dob',
 'department',
 'salary',
 'joining_date',
 'email',
 'phone_number']

In [0]:
#Extract day, month and year
employee2  = employee.select('emp_id','first_name','last_name','joining_date').withColumn("joining_day", dayofmonth(col("joining_date"))).withColumn("joining_month", month(col("joining_date"))).withColumn("joining_year", year(col("joining_date")))

In [0]:
display(employee2)

emp_id,first_name,last_name,joining_date,joining_day,joining_month,joining_year
1,Rahul,Sharma,1988-05-12,12,5,1988
2,Ananya,Iyer,1990-11-23,23,11,1990
3,Vikram,Singh,1985-03-15,15,3,1985
4,Priya,Mehta,1992-07-09,9,7,1992
5,Rohit,Verma,1987-12-30,30,12,1987
6,Sneha,Nair,1991-02-18,18,2,1991
7,Amit,Patel,1984-08-03,3,8,1984
8,Neha,Kapoor,1993-01-25,25,1,1993
9,Karan,Malhotra,1989-09-10,10,9,1989
10,Divya,Reddy,1994-04-05,5,4,1994
11,Arjun,Joshi,1986-07-20,20,7,1986
12,Meera,Desai,1991-12-12,12,12,1991
13,Suresh,Pillai,1983-10-08,8,10,1983
14,Ritika,Gupta,1995-03-27,27,3,1995
15,Manoj,Chopra,1987-09-14,14,9,1987
16,Pooja,Rastogi,1990-05-21,21,5,1990
17,Deepak,Bansal,1984-11-11,11,11,1984
18,Shalini,Roy,1992-06-16,16,6,1992
19,Nikhil,Agarwal,1988-01-30,30,1,1988
20,Kavya,Menon,1993-08-08,8,8,1993

In [0]:
#extract day name and month name
employee2  = employee2.withColumn("day_name", date_format(col("joining_date"),"EEE")).withColumn("month_name", date_format(col("joining_date"),"MMM"))

In [0]:
# 1.Get day of year (1–365).
# 2.Find the last day of month for a given date.
employee2 = employee2.withColumn("day_of_the_year", dayofyear(col("joining_date"))).withColumn("last_day_of_the_month", last_day(col("joining_date")))

In [0]:
display(employee2)

emp_id,first_name,last_name,joining_date,joining_day,joining_month,joining_year,day_name,month_name,day_of_the_year,last_day_of_the_month
1,Rahul,Sharma,1988-05-12,12,5,1988,Thu,May,133,1988-05-31
2,Ananya,Iyer,1990-11-23,23,11,1990,Fri,Nov,327,1990-11-30
3,Vikram,Singh,1985-03-15,15,3,1985,Fri,Mar,74,1985-03-31
4,Priya,Mehta,1992-07-09,9,7,1992,Thu,Jul,191,1992-07-31
5,Rohit,Verma,1987-12-30,30,12,1987,Wed,Dec,364,1987-12-31
6,Sneha,Nair,1991-02-18,18,2,1991,Mon,Feb,49,1991-02-28
7,Amit,Patel,1984-08-03,3,8,1984,Fri,Aug,216,1984-08-31
8,Neha,Kapoor,1993-01-25,25,1,1993,Mon,Jan,25,1993-01-31
9,Karan,Malhotra,1989-09-10,10,9,1989,Sun,Sep,253,1989-09-30
10,Divya,Reddy,1994-04-05,5,4,1994,Tue,Apr,95,1994-04-30
11,Arjun,Joshi,1986-07-20,20,7,1986,Sun,Jul,201,1986-07-31
12,Meera,Desai,1991-12-12,12,12,1991,Thu,Dec,346,1991-12-31
13,Suresh,Pillai,1983-10-08,8,10,1983,Sat,Oct,281,1983-10-31
14,Ritika,Gupta,1995-03-27,27,3,1995,Mon,Mar,86,1995-03-31
15,Manoj,Chopra,1987-09-14,14,9,1987,Mon,Sep,257,1987-09-30
16,Pooja,Rastogi,1990-05-21,21,5,1990,Mon,May,141,1990-05-31
17,Deepak,Bansal,1984-11-11,11,11,1984,Sun,Nov,316,1984-11-30
18,Shalini,Roy,1992-06-16,16,6,1992,Tue,Jun,168,1992-06-30
19,Nikhil,Agarwal,1988-01-30,30,1,1988,Sat,Jan,30,1988-01-31
20,Kavya,Menon,1993-08-08,8,8,1993,Sun,Aug,220,1993-08-31

Add or subtract a certain number of days, months, or years from a date.

Calculate the difference between two dates (e.g., tenure = joining_date → today).

Add a column with age based on dob.

In [0]:
employee.columns

Out[31]: ['emp_id',
 'first_name',
 'last_name',
 'dob',
 'department',
 'salary',
 'joining_date',
 'email',
 'phone_number']

In [0]:
employee3 = employee.select("emp_id","first_name","last_name","dob","joining_date").withColumn("age", floor(months_between(current_date(), col("dob"))/12)).withColumn("tenure", floor(months_between(current_date(), col("joining_date"))))

In [0]:
employee3.show()

+------+----------+---------+----------+------------+---+------+
|emp_id|first_name|last_name|       dob|joining_date|age|tenure|
+------+----------+---------+----------+------------+---+------+
|     1|     Rahul|   Sharma|1988-05-12|  2015-06-10| 37|   122|
|     2|    Ananya|     Iyer|1990-11-23|  2017-04-22| 34|   100|
|     3|    Vikram|    Singh|1985-03-15|  2018-01-05| 40|    91|
|     4|     Priya|    Mehta|1992-07-09|  2019-07-18| 33|    73|
|     5|     Rohit|    Verma|1987-12-30|  2016-10-12| 37|   106|
|     6|     Sneha|     Nair|1991-02-18|  2020-02-20| 34|    66|
|     7|      Amit|    Patel|1984-08-03|  2014-03-14| 41|   137|
|     8|      Neha|   Kapoor|1993-01-25|  2021-09-09| 32|    47|
|     9|     Karan| Malhotra|1989-09-10|  2018-06-11| 35|    86|
|    10|     Divya|    Reddy|1994-04-05|  2022-01-17| 31|    43|
|    11|     Arjun|    Joshi|1986-07-20|  2013-08-25| 39|   144|
|    12|     Meera|    Desai|1991-12-12|  2017-11-19| 33|    93|
|    13|    Suresh|   Pillai|1983-10-08|  2012-05-29| 41|   159|
|    14|    Ritika|    Gupta|1995-03-27|  2023-03-15| 30|    29|
|    15|     Manoj|   Chopra|1987-09-14|  2016-12-01| 37|   105|
|    16|     Pooja|  Rastogi|1990-05-21|  2019-04-04| 35|    76|
|    17|    Deepak|   Bansal|1984-11-11|  2015-09-10| 40|   119|
|    18|   Shalini|      Roy|1992-06-16|  2020-08-12| 33|    60|
|    19|    Nikhil|  Agarwal|1988-01-30|  2017-01-29| 37|   103|
|    20|     Kavya|    Menon|1993-08-08|  2021-06-06| 32|    50|
+------+----------+---------+----------+------------+---+------+
only showing top 20 rows

_**Convert a date into a different string format (e.g., 2025-08-31 → 31-Aug-2025).**_

In [0]:
employee3 = employee3.withColumn("joining_date", date_format(col("joining_date"), "dd-MMM-yyyy" ))

In [0]:
employee3.show()

+------+----------+---------+----------+------------+---+------+
|emp_id|first_name|last_name|       dob|joining_date|age|tenure|
+------+----------+---------+----------+------------+---+------+
|     1|     Rahul|   Sharma|1988-05-12| 10-Jun-2015| 37|   122|
|     2|    Ananya|     Iyer|1990-11-23| 22-Apr-2017| 34|   100|
|     3|    Vikram|    Singh|1985-03-15| 05-Jan-2018| 40|    91|
|     4|     Priya|    Mehta|1992-07-09| 18-Jul-2019| 33|    73|
|     5|     Rohit|    Verma|1987-12-30| 12-Oct-2016| 37|   106|
|     6|     Sneha|     Nair|1991-02-18| 20-Feb-2020| 34|    66|
|     7|      Amit|    Patel|1984-08-03| 14-Mar-2014| 41|   137|
|     8|      Neha|   Kapoor|1993-01-25| 09-Sep-2021| 32|    47|
|     9|     Karan| Malhotra|1989-09-10| 11-Jun-2018| 35|    86|
|    10|     Divya|    Reddy|1994-04-05| 17-Jan-2022| 31|    43|
|    11|     Arjun|    Joshi|1986-07-20| 25-Aug-2013| 39|   144|
|    12|     Meera|    Desai|1991-12-12| 19-Nov-2017| 33|    93|
|    13|    Suresh|   Pillai|1983-10-08| 29-May-2012| 41|   159|
|    14|    Ritika|    Gupta|1995-03-27| 15-Mar-2023| 30|    29|
|    15|     Manoj|   Chopra|1987-09-14| 01-Dec-2016| 37|   105|
|    16|     Pooja|  Rastogi|1990-05-21| 04-Apr-2019| 35|    76|
|    17|    Deepak|   Bansal|1984-11-11| 10-Sep-2015| 40|   119|
|    18|   Shalini|      Roy|1992-06-16| 12-Aug-2020| 33|    60|
|    19|    Nikhil|  Agarwal|1988-01-30| 29-Jan-2017| 37|   103|
|    20|     Kavya|    Menon|1993-08-08| 06-Jun-2021| 32|    50|
+------+----------+---------+----------+------------+---+------+
only showing top 20 rows

**Check if a date falls on a weekend vs weekday.**

In [0]:
employee3 = employee3.withColumn("is_weekend", 
                     when(dayofweek(col("dob")).isin(1, 7), True).otherwise(False)
)

In [0]:
display(employee3)

emp_id,first_name,last_name,dob,joining_date,age,tenure,is_weekend
1,Rahul,Sharma,1988-05-12,10-Jun-2015,37,122,false
2,Ananya,Iyer,1990-11-23,22-Apr-2017,34,100,false
3,Vikram,Singh,1985-03-15,05-Jan-2018,40,91,false
4,Priya,Mehta,1992-07-09,18-Jul-2019,33,73,false
5,Rohit,Verma,1987-12-30,12-Oct-2016,37,106,false
6,Sneha,Nair,1991-02-18,20-Feb-2020,34,66,false
7,Amit,Patel,1984-08-03,14-Mar-2014,41,137,false
8,Neha,Kapoor,1993-01-25,09-Sep-2021,32,47,false
9,Karan,Malhotra,1989-09-10,11-Jun-2018,35,86,true
10,Divya,Reddy,1994-04-05,17-Jan-2022,31,43,false
11,Arjun,Joshi,1986-07-20,25-Aug-2013,39,144,true
12,Meera,Desai,1991-12-12,19-Nov-2017,33,93,false
13,Suresh,Pillai,1983-10-08,29-May-2012,41,159,true
14,Ritika,Gupta,1995-03-27,15-Mar-2023,30,29,false
15,Manoj,Chopra,1987-09-14,01-Dec-2016,37,105,false
16,Pooja,Rastogi,1990-05-21,04-Apr-2019,35,76,false
17,Deepak,Bansal,1984-11-11,10-Sep-2015,40,119,true
18,Shalini,Roy,1992-06-16,12-Aug-2020,33,60,false
19,Nikhil,Agarwal,1988-01-30,29-Jan-2017,37,103,true
20,Kavya,Menon,1993-08-08,06-Jun-2021,32,50,true
21,Gopi,Nath,1993-08-08,21-Jun-2025,32,2,true

In [0]:
employee3.withColumn("checks",dayofweek(col("joining_date"))).show()

+------+----------+---------+----------+------------+---+------+----------+------+
|emp_id|first_name|last_name|       dob|joining_date|age|tenure|is_weekend|checks|
+------+----------+---------+----------+------------+---+------+----------+------+
|     1|     Rahul|   Sharma|1988-05-12| 10-Jun-2015| 37|   122|     false|  null|
|     2|    Ananya|     Iyer|1990-11-23| 22-Apr-2017| 34|   100|     false|  null|
|     3|    Vikram|    Singh|1985-03-15| 05-Jan-2018| 40|    91|     false|  null|
|     4|     Priya|    Mehta|1992-07-09| 18-Jul-2019| 33|    73|     false|  null|
|     5|     Rohit|    Verma|1987-12-30| 12-Oct-2016| 37|   106|     false|  null|
|     6|     Sneha|     Nair|1991-02-18| 20-Feb-2020| 34|    66|     false|  null|
|     7|      Amit|    Patel|1984-08-03| 14-Mar-2014| 41|   137|     false|  null|
|     8|      Neha|   Kapoor|1993-01-25| 09-Sep-2021| 32|    47|     false|  null|
|     9|     Karan| Malhotra|1989-09-10| 11-Jun-2018| 35|    86|      true|  null|
|    10|     Divya|    Reddy|1994-04-05| 17-Jan-2022| 31|    43|     false|  null|
|    11|     Arjun|    Joshi|1986-07-20| 25-Aug-2013| 39|   144|      true|  null|
|    12|     Meera|    Desai|1991-12-12| 19-Nov-2017| 33|    93|     false|  null|
|    13|    Suresh|   Pillai|1983-10-08| 29-May-2012| 41|   159|      true|  null|
|    14|    Ritika|    Gupta|1995-03-27| 15-Mar-2023| 30|    29|     false|  null|
|    15|     Manoj|   Chopra|1987-09-14| 01-Dec-2016| 37|   105|     false|  null|
|    16|     Pooja|  Rastogi|1990-05-21| 04-Apr-2019| 35|    76|     false|  null|
|    17|    Deepak|   Bansal|1984-11-11| 10-Sep-2015| 40|   119|      true|  null|
|    18|   Shalini|      Roy|1992-06-16| 12-Aug-2020| 33|    60|     false|  null|
|    19|    Nikhil|  Agarwal|1988-01-30| 29-Jan-2017| 37|   103|      true|  null|
|    20|     Kavya|    Menon|1993-08-08| 06-Jun-2021| 32|    50|      true|  null|
+------+----------+---------+----------+------------+---+------+----------+------+
only showing top 20 rows

_**some datefunctions doesn't work if the date is in `10-Jun-2015` format (It is in string format)**_

In [0]:
employee3.printSchema()

root
 |-- emp_id: integer (nullable = false)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- joining_date: string (nullable = true)
 |-- age: long (nullable = true)
 |-- tenure: long (nullable = true)
 |-- is_weekend: boolean (nullable = false)